.row:before, .row:after, .clearfix:before, .clearfix:after {
  content: '';
  display: block;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  width: 0; }

.container {
  position: relative;
  width: 75%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0; }
  .container .column {
    float: left;
    display: inline;
    margin-right: 1.04167%;
    margin-left: 1.04167%; }
    .container .column.one {
      width: 4.16667%; }
    .container .column.two {
      width: 10.41667%; }
    .container .column.three {
      width: 16.66667%; }
    .container .column.four {
      width: 22.91667%; }
    .container .column.five {
      width: 29.16667%; }
    .container .column.six {
      width: 35.41667%; }
    .container .column.seven {
      width: 41.66667%; }
    .container .column.eight {
      width: 47.91667%; }
    .container .column.nine {
      width: 54.16667%; }
    .container .column.ten {
      width: 60.41667%; }
    .container .column.eleven {
      width: 66.66667%; }
    .container .column.twelve {
      width: 72.91667%; }
    .container .column.thirteen {
      width: 79.16667%; }
    .container .column.fourteen {
      width: 85.41667%; }
    .container .column.fifteen {
      width: 91.66667%; }
    .container .column.sixteen {
      width: 97.91667%; }
    .container .column.one-third {
      width: 31.25%; }
    .container .column.two-thirds {
      width: 64.58333%; }
  .container:after {
    content: '';
    display: block;
    visibility: hidden;
    height: 0;
    clear: both; }

.column.alpha {
  margin-left: 0; }
.column.omega {
  margin-right: 0; }

.row {
  margin-bottom: 2.08333%;
  zoom: 1; }
  .row:after {
    clear: both; }

@media only screen and (min-width: 768px) and (max-width: 959px) {
  .container {
    width: 80%;
    max-width: 768px; }
    .container .column {
      margin-right: 1.04167%;
      margin-left: 1.04167%; }
      .container .column.one {
        width: 2.91667%; }
      .container .column.two {
        width: 7.91667%; }
      .container .column.three {
        width: 12.91667%; }
      .container .column.four {
        width: 17.91667%; }
      .container .column.five {
        width: 22.91667%; }
      .container .column.six {
        width: 27.91667%; }
      .container .column.seven {
        width: 32.91667%; }
      .container .column.eight {
        width: 37.91667%; }
      .container .column.nine {
        width: 42.91667%; }
      .container .column.ten {
        width: 47.91667%; }
      .container .column.eleven {
        width: 52.91667%; }
      .container .column.twelve {
        width: 57.91667%; }
      .container .column.thirteen {
        width: 62.91667%; }
      .container .column.fourteen {
        width: 67.91667%; }
      .container .column.fifteen {
        width: 72.91667%; }
      .container .column.sixteen {
        width: 77.91667%; }
      .container .column.one-third {
        width: 24.58333%; }
      .container .column.two-thirds {
        width: 51.25%; }

  .column.alpha {
    margin-right: 1.04167%; }
  .column.omega {
    margin-left: 1.04167%; } }
@media only screen and (max-width: 767px) {
  .container {
    width: 90%;
    max-width: 300px; }
    .container .column {
      margin-right: 0.20833%;
      margin-left: 0.20833%; }
      .container .column.one {
        width: 98.66667%; }
      .container .column.two {
        width: 98.66667%; }
      .container .column.three {
        width: 98.66667%; }
      .container .column.four {
        width: 98.66667%; }
      .container .column.five {
        width: 98.66667%; }
      .container .column.six {
        width: 98.66667%; }
      .container .column.seven {
        width: 98.66667%; }
      .container .column.eight {
        width: 98.66667%; }
      .container .column.nine {
        width: 98.66667%; }
      .container .column.ten {
        width: 98.66667%; }
      .container .column.eleven {
        width: 98.66667%; }
      .container .column.twelve {
        width: 98.66667%; }
      .container .column.thirteen {
        width: 98.66667%; }
      .container .column.fourteen {
        width: 98.66667%; }
      .container .column.fifteen {
        width: 98.66667%; }
      .container .column.sixteen {
        width: 98.66667%; }
      .container .column.one-third {
        width: 98.66667%; }
      .container .column.two-thirds {
        width: 98.66667%; }

  .column.alpha {
    margin-right: 0.20833%; }
  .column.omega {
    margin-left: 0.20833%; } }
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 90%;
    max-width: 420px; }
    .container .column {
      margin-right: 0.52083%;
      margin-left: 0.52083%; }
      .container .column.one {
        width: 97.61905%; }
      .container .column.two {
        width: 97.61905%; }
      .container .column.three {
        width: 97.61905%; }
      .container .column.four {
        width: 97.61905%; }
      .container .column.five {
        width: 97.61905%; }
      .container .column.six {
        width: 97.61905%; }
      .container .column.seven {
        width: 97.61905%; }
      .container .column.eight {
        width: 97.61905%; }
      .container .column.nine {
        width: 97.61905%; }
      .container .column.ten {
        width: 97.61905%; }
      .container .column.eleven {
        width: 97.61905%; }
      .container .column.twelve {
        width: 97.61905%; }
      .container .column.thirteen {
        width: 97.61905%; }
      .container .column.fourteen {
        width: 97.61905%; }
      .container .column.fifteen {
        width: 97.61905%; }
      .container .column.sixteen {
        width: 97.61905%; }
      .container .column.one-third {
        width: 97.61905%; }
      .container .column.two-thirds {
        width: 97.61905%; }

  .column.alpha {
    margin-right: 0.52083%; }
  .column.omega {
    margin-left: 0.52083%; } }
.clearfix {
  zoom: 1; }
  .clearfix:after {
    clear: both; }

.clear {
  clear: both;
  display: block;
  visibility: hidden;
  height: 0;
  overflow: hidden;
  width: 0; }

/*# sourceMappingURL=grid.css.map */
