//colors
$white: #fff;
$black: #000;
$color_storm_dust_approx: #666;
$color_fuscous_gray_approx: #555;
$color_alto_approx: #ddd;
$color_gallery_approx: #eee;
$white_20: rgba(255, 255, 255, 0.2);
$black_20: rgba(0, 0, 0, 0.2);
$color_silver_chalice_approx: #aaa;
$color_celeste_approx: #ccc;
$color_tundora_approx: #444;
$white_75: rgba(255, 255, 255, 0.75);
$color_log_cabin_approx: #222;
$white_30: rgba(255, 255, 255, 0.3);
$black_30: rgba(0, 0, 0, 0.3);
$color_suva_gray_approx: #888;
$white_35: rgba(255, 255, 255, 0.35);
$black_40: rgba(0, 0, 0, 0.4);
$color_tapa_approx: #777;

//fonts
$font_0: Verdana;
$font_1: Geneva;
$font_2: sans-serif;
$font_3: Georgia;
$font_4: Times;
$font_5: serif;
$font_6: Helvetica;
$font_7: Arial;

//@extend-elements
//original selectors
//html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
%extend_1 {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

//original selectors
//h1, h2, h3, h4, h5, h6
%extend_2 {
	font-size: 1.8em;
	line-height: 1.25;
	font-family: $font_3, $font_4, $font_5;
}

//original selectors
//ul, ol
%extend_3 {
	font-size: 1.6em;
	line-height: 1.5;
	margin-bottom: 20px;
}

//original selectors
//.button, button, input[type="submit"], input[type="reset"], input[type="button"]
%extend_4 {
	background: $color_gallery_approx;
	background: $color_gallery_approx linear-gradient(top, $white_20 0, $black_20 100%);
	border: 1px solid $color_silver_chalice_approx;
	border-top: 1px solid $color_celeste_approx;
	border-left: 1px solid $color_celeste_approx;
	//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
	border-radius: 3px;
	color: $color_tundora_approx;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	//Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	text-shadow: 0 1px $white_75;
	padding: 4px;
}

//original selectors
//.button:hover, button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover
%extend_5 {
	color: $color_log_cabin_approx;
	background: $color_alto_approx;
	background: $color_alto_approx linear-gradient(top, $white_30 0, $black_30 100%);
	border: 1px solid $color_suva_gray_approx;
	border-top: 1px solid $color_silver_chalice_approx;
	border-left: 1px solid $color_silver_chalice_approx;
}

//original selectors
//.button:active, button:active, input[type="submit"]:active, input[type="reset"]:active, input[type="button"]:active
%extend_6 {
	border: 1px solid $color_storm_dust_approx;
	background: $color_celeste_approx;
	background: $color_celeste_approx linear-gradient(top, $white_35 0, $black_40 100%);
}

//original selectors
//.button.full-width, button.full-width, input[type="submit"].full-width, input[type="reset"].full-width, input[type="button"].full-width
%extend_7 {
	width: 100%;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

//original selectors
//input[type="text"], input[type="password"], input[type="email"], textarea, select
%extend_8 {
	border: 1px solid $color_celeste_approx;
	padding: 4px;
	outline: none;
	//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
	border-radius: 2px;
	color: $color_tapa_approx;
	background: $white;
}

//original selectors
//input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, textarea:focus
%extend_9 {
	border: 1px solid $color_silver_chalice_approx;
	color: $color_tundora_approx;
	//Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 0 3px $black_20;
}


html {
	@extend %extend_1;
	font-size: 16px;
}
body {
	@extend %extend_1;
	font-size: 62.5%;
	line-height: 1.5;
	background: $white;
	color: $black;
	font-family: $font_0, $font_1, $font_2;
}
div {
	@extend %extend_1;
}
span {
	@extend %extend_1;
}
applet {
	@extend %extend_1;
}
object {
	@extend %extend_1;
}
iframe {
	@extend %extend_1;
}
h1 {
	@extend %extend_1;
	@extend %extend_2;
	font-size: 4.2em;
	line-height: 1.1;
	margin-bottom: 15px;
	a {
		font-weight: inherit;
	}
}
h2 {
	@extend %extend_1;
	@extend %extend_2;
	font-size: 2.6em;
	line-height: 1.1;
	margin-bottom: 10px;
	a {
		font-weight: inherit;
	}
}
h3 {
	@extend %extend_1;
	@extend %extend_2;
	font-size: 2em;
	line-height: 1.2;
	margin-bottom: 10px;
	a {
		font-weight: inherit;
	}
}
h4 {
	@extend %extend_1;
	@extend %extend_2;
	font-size: 2em;
	line-height: 1.25;
	margin-bottom: 10px;
	a {
		font-weight: inherit;
	}
}
h5 {
	@extend %extend_1;
	@extend %extend_2;
	font-size: 1.6em;
	line-height: 1.3;
	margin-bottom: 5px;
	a {
		font-weight: inherit;
	}
}
h6 {
	@extend %extend_1;
	@extend %extend_2;
	font-size: 1.3em;
	line-height: 1.4;
	margin-bottom: 5px;
	a {
		font-weight: inherit;
	}
}
p {
	@extend %extend_1;
	font-size: 1.6em;
	line-height: 1.5;
	margin-bottom: 20px;
	img {
		margin: 0;
	}
	&.lead {
		font-size: 2em;
		line-height: 1.3;
		margin-bottom: 20px;
	}
}
blockquote {
	@extend %extend_1;
	quotes: none;
	font-size: 1.8em;
	line-height: 1.45;
	margin-bottom: 20px;
	font-style: italic;
	padding: 9px 20px 0 19px;
	border-left: 1px dotted $color_storm_dust_approx;
	&:before {
		content: '';
		content: none;
	}
	&:after {
		content: '';
		content: none;
	}
	cite {
		display: block;
		font-size: 0.77778em;
		color: $color_fuscous_gray_approx;
		&:before {
			content: "\2014 \0020";
		}
		a:visited {
			color: $color_fuscous_gray_approx;
		}
	}
}
pre {
	@extend %extend_1;
}
a {
	@extend %extend_1;
	text-decoration: underline;
	outline: 0;
}
abbr {
	@extend %extend_1;
}
acronym {
	@extend %extend_1;
}
address {
	@extend %extend_1;
}
big {
	@extend %extend_1;
}
cite {
	@extend %extend_1;
}
code {
	@extend %extend_1;
}
del {
	@extend %extend_1;
}
dfn {
	@extend %extend_1;
}
em {
	@extend %extend_1;
	font-style: italic;
}
img {
	@extend %extend_1;
	.scale {
		max-width: 100%;
		height: auto;
		&.top {
			margin-top: 5px;
		}
		&.right {
			margin-right: 5px;
		}
		&.bottom {
			margin-bottom: 5px;
		}
		&.left {
			margin-left: 5px;
		}
	}
}
ins {
	@extend %extend_1;
}
kbd {
	@extend %extend_1;
}
q {
	@extend %extend_1;
	quotes: none;
	&:before {
		content: '';
		content: none;
	}
	&:after {
		content: '';
		content: none;
	}
}
s {
	@extend %extend_1;
}
samp {
	@extend %extend_1;
}
small {
	@extend %extend_1;
	font-size: 80%;
}
strike {
	@extend %extend_1;
}
strong {
	@extend %extend_1;
	font-weight: bold;
}
sub {
	@extend %extend_1;
}
sup {
	@extend %extend_1;
}
tt {
	@extend %extend_1;
}
var {
	@extend %extend_1;
}
b {
	@extend %extend_1;
}
u {
	@extend %extend_1;
}
i {
	@extend %extend_1;
}
center {
	@extend %extend_1;
}
dl {
	@extend %extend_1;
}
dt {
	@extend %extend_1;
}
dd {
	@extend %extend_1;
}
ol {
	@extend %extend_1;
	list-style: none;
	@extend %extend_3;
	list-style: decimal;
	margin-left: 30px;
	ol {
		margin: 4px 0 5px 30px;
		font-size: 90%;
		li {
			margin-bottom: 6px;
		}
	}
	ul {
		margin: 4px 0 5px 30px;
		font-size: 90%;
		li {
			margin-bottom: 6px;
		}
	}
}
ul {
	@extend %extend_1;
	list-style: none;
	@extend %extend_3;
	list-style: none outside;
	.square {
		list-style: square outside;
		margin-left: 30px;
	}
	.circle {
		list-style: circle outside;
		margin-left: 30px;
	}
	.disc {
		list-style: disc outside;
		margin-left: 30px;
	}
	ul {
		margin: 4px 0 5px 30px;
		font-size: 90%;
		li {
			margin-bottom: 6px;
		}
	}
	ol {
		margin: 4px 0 5px 30px;
		font-size: 90%;
		li {
			margin-bottom: 6px;
		}
	}
	&.large li {
		line-height: 21px;
	}
}
li {
	@extend %extend_1;
	line-height: 18px;
	margin-bottom: 12px;
	p {
		line-height: 21px;
	}
}
fieldset {
	@extend %extend_1;
}
form {
	@extend %extend_1;
}
label {
	@extend %extend_1;
	font-weight: bold;
	display: block;
	span {
		font-weight: normal;
		color: $color_tundora_approx;
	}
}
legend {
	@extend %extend_1;
	font-weight: bold;
	display: block;
	span {
		font-weight: normal;
		color: $color_tundora_approx;
	}
}
table {
	@extend %extend_1;
	border-collapse: collapse;
	border-spacing: 0;
}
caption {
	@extend %extend_1;
}
tbody {
	@extend %extend_1;
}
tfoot {
	@extend %extend_1;
}
thead {
	@extend %extend_1;
}
tr {
	@extend %extend_1;
}
th {
	@extend %extend_1;
}
td {
	@extend %extend_1;
}
article {
	@extend %extend_1;
	display: block;
}
aside {
	@extend %extend_1;
	display: block;
}
canvas {
	@extend %extend_1;
}
details {
	@extend %extend_1;
	display: block;
}
embed {
	@extend %extend_1;
}
figure {
	@extend %extend_1;
	display: block;
}
figcaption {
	@extend %extend_1;
	display: block;
}
footer {
	@extend %extend_1;
	display: block;
	p {
		font-size: 1.2em;
		line-height: 1.2;
		margin-bottom: 10px;
	}
	input {
		font-size: 1.4em;
	}
}
header {
	@extend %extend_1;
	display: block;
}
hgroup {
	@extend %extend_1;
	display: block;
}
menu {
	@extend %extend_1;
	display: block;
}
nav {
	@extend %extend_1;
	display: block;
}
output {
	@extend %extend_1;
}
ruby {
	@extend %extend_1;
}
section {
	@extend %extend_1;
	display: block;
}
summary {
	@extend %extend_1;
	&:focus {
		outline: none;
	}
}
time {
	@extend %extend_1;
}
mark {
	@extend %extend_1;
}
audio {
	@extend %extend_1;
}
video {
	@extend %extend_1;
}
.container {
	background: $white;
}
hr {
	border: solid $color_alto_approx;
	border-width: 1px 0 0;
	clear: both;
	margin: 10px 0;
	height: 0;
}
.button {
	@extend %extend_4;
	&:hover {
		@extend %extend_5;
	}
	&:active {
		@extend %extend_6;
	}
	&.full-width {
		@extend %extend_7;
	}
}
button {
	@extend %extend_4;
	&:hover {
		@extend %extend_5;
	}
	&:active {
		@extend %extend_6;
	}
	&.full-width {
		@extend %extend_7;
	}
}
input[type="submit"] {
	@extend %extend_4;
	&:hover {
		@extend %extend_5;
	}
	&:active {
		@extend %extend_6;
	}
	&.full-width {
		@extend %extend_7;
	}
}
input[type="reset"] {
	@extend %extend_4;
	&:hover {
		@extend %extend_5;
	}
	&:active {
		@extend %extend_6;
	}
	&.full-width {
		@extend %extend_7;
	}
}
input[type="button"] {
	@extend %extend_4;
	&:hover {
		@extend %extend_5;
	}
	&:active {
		@extend %extend_6;
	}
	&.full-width {
		@extend %extend_7;
	}
}
input {
	font-size: 1.6em;
	font-family: $font_6, $font_7, $font_2;
	&.full {
		display: block;
		width: 100%;
	}
}
textarea {
	font-size: 1.6em;
	font-family: $font_6, $font_7, $font_2;
	font-size: 1.4em;
	@extend %extend_8;
	&:focus {
		@extend %extend_9;
	}
	&.full {
		display: block;
		width: 100%;
	}
}
input[type="text"] {
	@extend %extend_8;
	&:focus {
		@extend %extend_9;
	}
}
input[type="password"] {
	@extend %extend_8;
	&:focus {
		@extend %extend_9;
	}
}
input[type="email"] {
	@extend %extend_8;
	&:focus {
		@extend %extend_9;
	}
}
select {
	@extend %extend_8;
	padding: 0;
	width: 220px;
}
input[type="checkbox"] {
	display: inline;
}
.remove-bottom {
	margin-bottom: 0 !important;
}
.half-bottom {
	margin-bottom: 10px !important;
}
.add-bottom {
	margin-bottom: 20px !important;
}
button::-moz-focus-inner {
	border: 0;
	padding: 0;
}
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}