//@extend-elements
//original selectors
//.clearfix:before, .clearfix:after, .row:before, .row:after
%extend_1 {
	content: '';
	display: block;
	visibility: hidden;
	height: 0;
	overflow: hidden;
	width: 0;
}


.container {
	position: relative;
	width: 75%;
	max-width: 960px;
	margin: 0 auto;
	padding: 0;
	.column {
		float: left;
		display: inline;
		margin-right: 1.04167%;
		margin-left: 1.04167%;
		&.one {
			width: 4.16667%;
		}
		&.two {
			width: 10.41667%;
		}
		&.three {
			width: 16.66667%;
		}
		&.four {
			width: 22.91667%;
		}
		&.five {
			width: 29.16667%;
		}
		&.six {
			width: 35.41667%;
		}
		&.seven {
			width: 41.66667%;
		}
		&.eight {
			width: 47.91667%;
		}
		&.nine {
			width: 54.16667%;
		}
		&.ten {
			width: 60.41667%;
		}
		&.eleven {
			width: 66.66667%;
		}
		&.twelve {
			width: 72.91667%;
		}
		&.thirteen {
			width: 79.16667%;
		}
		&.fourteen {
			width: 85.41667%;
		}
		&.fifteen {
			width: 91.66667%;
		}
		&.sixteen {
			width: 97.91667%;
		}
		&.one-third {
			width: 31.25%;
		}
		&.two-thirds {
			width: 64.58333%;
		}
	}
	&:after {
		content: '';
		display: block;
		visibility: hidden;
		height: 0;
		clear: both;
	}
}
.column {
	&.alpha {
		margin-left: 0;
	}
	&.omega {
		margin-right: 0;
	}
}
.row {
	margin-bottom: 2.08333%;
	zoom: 1;
	&:before {
		@extend %extend_1;
	}
	&:after {
		@extend %extend_1;
		clear: both;
	}
}
@media only screen and(min-width: 768px) and(max-width: 959px) {
	.container {
		width: 80%;
		max-width: 768px;
		.column {
			margin-right: 1.04167%;
			margin-left: 1.04167%;
			&.one {
				width: 2.91667%;
			}
			&.two {
				width: 7.91667%;
			}
			&.three {
				width: 12.91667%;
			}
			&.four {
				width: 17.91667%;
			}
			&.five {
				width: 22.91667%;
			}
			&.six {
				width: 27.91667%;
			}
			&.seven {
				width: 32.91667%;
			}
			&.eight {
				width: 37.91667%;
			}
			&.nine {
				width: 42.91667%;
			}
			&.ten {
				width: 47.91667%;
			}
			&.eleven {
				width: 52.91667%;
			}
			&.twelve {
				width: 57.91667%;
			}
			&.thirteen {
				width: 62.91667%;
			}
			&.fourteen {
				width: 67.91667%;
			}
			&.fifteen {
				width: 72.91667%;
			}
			&.sixteen {
				width: 77.91667%;
			}
			&.one-third {
				width: 24.58333%;
			}
			&.two-thirds {
				width: 51.25%;
			}
		}
	}
	.column {
		&.alpha {
			margin-right: 1.04167%;
		}
		&.omega {
			margin-left: 1.04167%;
		}
	}
}
@media only screen and(max-width: 767px) {
	.container {
		width: 90%;
		max-width: 300px;
		.column {
			margin-right: 0.20833%;
			margin-left: 0.20833%;
			&.one {
				width: 98.66667%;
			}
			&.two {
				width: 98.66667%;
			}
			&.three {
				width: 98.66667%;
			}
			&.four {
				width: 98.66667%;
			}
			&.five {
				width: 98.66667%;
			}
			&.six {
				width: 98.66667%;
			}
			&.seven {
				width: 98.66667%;
			}
			&.eight {
				width: 98.66667%;
			}
			&.nine {
				width: 98.66667%;
			}
			&.ten {
				width: 98.66667%;
			}
			&.eleven {
				width: 98.66667%;
			}
			&.twelve {
				width: 98.66667%;
			}
			&.thirteen {
				width: 98.66667%;
			}
			&.fourteen {
				width: 98.66667%;
			}
			&.fifteen {
				width: 98.66667%;
			}
			&.sixteen {
				width: 98.66667%;
			}
			&.one-third {
				width: 98.66667%;
			}
			&.two-thirds {
				width: 98.66667%;
			}
		}
	}
	.column {
		&.alpha {
			margin-right: 0.20833%;
		}
		&.omega {
			margin-left: 0.20833%;
		}
	}
}
@media only screen and(min-width: 480px) and(max-width: 767px) {
	.container {
		width: 90%;
		max-width: 420px;
		.column {
			margin-right: 0.52083%;
			margin-left: 0.52083%;
			&.one {
				width: 97.61905%;
			}
			&.two {
				width: 97.61905%;
			}
			&.three {
				width: 97.61905%;
			}
			&.four {
				width: 97.61905%;
			}
			&.five {
				width: 97.61905%;
			}
			&.six {
				width: 97.61905%;
			}
			&.seven {
				width: 97.61905%;
			}
			&.eight {
				width: 97.61905%;
			}
			&.nine {
				width: 97.61905%;
			}
			&.ten {
				width: 97.61905%;
			}
			&.eleven {
				width: 97.61905%;
			}
			&.twelve {
				width: 97.61905%;
			}
			&.thirteen {
				width: 97.61905%;
			}
			&.fourteen {
				width: 97.61905%;
			}
			&.fifteen {
				width: 97.61905%;
			}
			&.sixteen {
				width: 97.61905%;
			}
			&.one-third {
				width: 97.61905%;
			}
			&.two-thirds {
				width: 97.61905%;
			}
		}
	}
	.column {
		&.alpha {
			margin-right: 0.52083%;
		}
		&.omega {
			margin-left: 0.52083%;
		}
	}
}
.clearfix {
	zoom: 1;
	&:before {
		@extend %extend_1;
	}
	&:after {
		@extend %extend_1;
		clear: both;
	}
}
.clear {
	clear: both;
	display: block;
	visibility: hidden;
	height: 0;
	overflow: hidden;
	width: 0;
}