/* Table of Contents
====================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* SITE STYLES
============== */

body {
	background: #CCC url(../img/argyle.png) top left repeat;
	font: 16px/24px "deliciousroman", sans-serif;
	color: #444;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6 {
	color: #181818;
	font-family: "juraregular", serif;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
}

.container {
	margin: 30px auto;
	background: #FFF url() top left repeat;
	padding-bottom: 20px;
}

header h1, h2, h3, h4, h5, h6 {
	font-family: "jurabold", serif;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
}

main {
}

nav {
	background: #FFF url(../img/brushed.png) top left repeat;
	border-radius: 4px 15px 15px 15px;
	padding: 10px;
	font: 14px/21px "CantarellRegular", sans-serif;
	color: #444;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;
	color: #969696;
}

.project {
	margin: 2px;
	height: 100% !important;
	border: dashed #D6D6D6 thin;
	border-radius: 15px 4px 15px 15px;
	padding: 3px;	
}

/* #Page Styles
================================================== */



/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/