//colors
$color_celeste_approx: #ccc;
$color_tundora_approx: #444;
$color_fuscous_gray_approx: #555;
$color_romance_approx: #fefefe;
$white: #fff;
$color_cape_cod_approx: #404040;
$black: #000;

//fonts
$font_0: Delicious;
$font_1: sans-serif;
$font_2: Jura;
$font_3: serif;
$font_4: Cantarell;

//urls
$url_0: url("../img/symphony.png");
$url_1: url("../img/45degreee_fabric.png");
$url_2: url("../img/norwegian_rose.png");

//@extend-elements
//original selectors
//nav.horiz ul, nav.horiz ol
%extend_1 {
	display: block;
	margin-bottom: 10px;
	font-size: 1.4em;
}


body {
	background: #CCC $url_0 top left repeat;
	color: $color_tundora_approx;
	font-family: $font_0, $font_1;
}
.container {
	margin: 30px auto;
	//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
	border-radius: 15px;
	//Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 1px 1px 3px $color_fuscous_gray_approx;
	background-color: #FEFEFE;
	padding: 10px 0;
}
header {
	font-weight: bold;
}
.left {
	float: left;
	margin-right: 10px;
}
h1 {
	font-family: $font_2, $font_3;
}
h2 {
	font-family: $font_2, $font_3;
}
h3 {
	font-family: $font_2, $font_3;
}
h4 {
	font-family: $font_4, $font_1;
	font-weight: normal;
}
h5 {
	font-family: $font_4, $font_1;
	font-style: italic;
}
h6 {
	font-family: $font_4, $font_1;
}
nav {
	&.vert {
		background: #FFF $url_1 top left repeat;
		//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
		border-radius: 4px 15px 15px 15px;
		padding: 10px;
		color: $color_cape_cod_approx;
	}
	&.horiz {
		text-align: right;
		ul {
			@extend %extend_1;
			li {
				display: inline-block;
				margin-left: 20px;
			}
		}
		ol {
			@extend %extend_1;
			li {
				display: inline-block;
				margin-left: 20px;
			}
		}
	}
}
.logo {
	background: #FFF $url_2 top left repeat;
	//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
	border-radius: 15px 15px 4px 15px;
	color: $color_cape_cod_approx;
	height: 70px;
	width: 70px;
}
.cat {
	width: 300px;
	margin-right: 10px;
	margin-bottom: 10px;
	//Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
	border-radius: 15px 2px 15px 15px;
	//Instead of the line below you could use @includebox-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: -1px 1px 3px $black;
}
.footnav:first-child::before {
	content: '';
}
.footnav::before {
	content: ' ';
}
footer div {
	text-align: center;
}